# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Ignore macOS system files
.DS_Store

# Ignore IntelliJ IDEA files
.idea/
*.iml

# Ignore specific directories
library-fa23/
out/
untitled/src/

# Ignore specific files in any directory
**/.DS_Store